<cfcomponent>
	<cffunction name="getEmail" access="public" output="false">
		<cfargument name="email" required="false" default="">
		<cfargument name="password" required="false" default="">
	 	<cfmail from = "mitrahSoft@gmail.com" to = "#arguments.email#" 
	 		type="html" username="localhost" Subject="Password" server="SMTP">
	 			Your Password is #arguments.password#
	 	</cfmail>
	</cffunction>
</cfcomponent>
