<cfoutput>


<cfif findNoCase( "127.0.0.1", CGI.SERVER_NAME ) or findNoCase( "localhost", CGI.SERVER_NAME ) or findNoCase( "local", CGI.SERVER_NAME ) or structKeyExists(session, 'kyro') >
	<cfdump var="#request.exception#">

<cfelse>

	<div class="col-sm-offset-2 col-sm-8">
		<div class="jumbotron">
			<h2 class="text-danger"> Saloon ERROR </h2>
			<div class="text-danger">
				<h4> Something went technically wrong and our engineers have been notified. 
				We're going to fix it up and have things back to normal soon. </h4>
			</div>
		</div>
	</div>

	<cfset fromAddress = "cfprahbu@yahoo.com" >
	<cfset toAddress = "cfprahbu@yahoo.com" >
	<!--- <cfset username = "flyin" />
	<cfset password = "hgB4i2$P" />
	<cfset servername = "mail.smtp2go.com" />
	<cfset port = "2525" /> --->
	<cfmail from="#fromAddress#" to="#toAddress#" subject="Fly-In Error" type="html" server="#Application.servername#" username="#Application.username#" password="#Application.password#" port="#Application.port#">
		
			<h1> Exception </h1>
			<cfdump var="#request.exception#">
			<h1> URL Scope </h1>
			<cfdump var="#url#" />
			<h1> Form Scope </h1>
			<cfdump var="#form#" />
			<h1> CGI Variables </h1>
			<cfdump var="#CGI#" />
			<h1> Session scope </h1>
			<cfdump var="#session#" />


	</cfmail>
</cfif>



</cfoutput>